.popup__container {
  position: relative;
  width: 430px;
  height: 330px;
  background-color: white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-items: center;
  margin: 195px 0 0 0;
}

@media screen and (max-width: 580px) {
  .popup__container {
    width: 282px;
    height: 322px;
    margin: 123px 0 0 0;
  }
} 
