.post__like {
  margin: 30px 20px 30px 0;
  width: 22px;
  height: 19px;
  border: 0;
  background-image: url(../../../images/like.svg);
  background-repeat: no-repeat;
  background-color: white;
  cursor: pointer;
  padding: 0;
}

.post__like:hover {
  opacity: 0.5;
}
